.help-window{
	width:684px;
	height:552px;	
}

.help-window .column{
	float:left;	
	-webkit-box-sizing: border-box;
	height:522px;	
	overflow-y:auto;	
}

.help-navigation.column{
	width:30%;
	background:#f4f8fb;
}

.help-content.column{
	width:70%;	
	padding:10px 20px;				
}

.navigation-tree ul.categories{
	list-style-type:none;	
	margin:20px 0 0 0;
	padding:0;
}

.navigation-tree .category{
	margin-bottom:13px;
}

.navigation-tree .category .category-title{
	font-weight: bold;
	font-size: 14px;
	color:#3E90D2;
	cursor:pointer;	
	padding-left: 23px;
	background: url('../img/icon-plus.png') 4px 1px no-repeat;
	background-size: 14px 14px;
}

.navigation-tree .category.open .category-title{
	background-image:url('../img/icon-minus.png');
}

.navigation-tree .category .sub-categories{
	display:none;

}

.navigation-tree .category.open .sub-categories{
	display:block;
}

.navigation-tree .sub-category{
	cursor:pointer;
	font-weight:bold;	
}

.navigation-tree .sub-category.active{
	color:#00549F;
}



.help-content .app-name{
	font-style:italic;
	font-weight:bold;
}

.help-content .help-section{
	display:none;
}

.help-content .help-section.show{
	display:block;
}

.help-content .section-title{
	color: #00549F;
	font-size: 26px;
	font-family: "TWC-Round-Book";
}

.help-content a{
	color: #3E90D2;
	font-weight: bold;
	text-decoration:none;
	cursor:pointer;
}

.help-content a:hover{
	text-decoration:underline;
	color:#39567e;
}