/** General Info ****************************************
 * Original App expanded 372 X 478
 * Original App collapsed 372 X 117
 * Original App window was 380 X 520
 * New App expanded 372 X 484
 * New App window was 384 X 496 (+6px on each side for drop shadow)
 */

/** App Top *****************************************/

.app-top{
	position:relative;
	width:100%;
	height:24px;
	margin:0;
}

.app-title{
	position:absolute;
	left:5px;
	top:4px;
	margin:0;	
}

.app-close,
.app-minimize{
	position:absolute;
	top:5px;
}

.app-close{right:5px;}
.app-minimize{right:30px;}


/** App Header *****************************************/

.app-header{
	position:relative;
	width:100%;
	height: 55px;	
	margin:0;
}

.logo-twc{
	position:absolute;
	top:10px;
	left:5px;
}

.sound-control{
	position:absolute;
	top:6px;
	right:5px;
}

.utility-links{
	position:absolute;
	bottom:10px;
	right:5px;
	margin:0;	
}

/** App Splash *****************************************/

.app-splash{
	position:relative;
	width:100%;
	height:49px;
}

.app-splash .app-name{
	position:absolute;
	top:15%;
	left:3%;	
}

.commercial .app-splash .app-name{
	left:2%;	
}

/** App Menu *****************************************/

.app-menu{
	position:relative;
	width:100%;
	height:49px;
}

.commercial .app-menu{
	margin-bottom:3px;
	height:46px;
}

/** App Content *****************************************/

.app-content{
	position:relative;
	width:100%;
	height:325px;
	margin:0;
	padding:2% 0 0 0;
}

/**** Frame ****/

.frame{
	position:relative;
	width:97%;
	height:97%;
	margin:0 auto;
}

/**** Frame Header ****/

.frame-header{
	position:absolute;
	top:0px;
	width:100%;
	height:10%;	
}

.frame-title{
	position:absolute;
	left:15px;
	top:5px;
	margin:0;
}

.commercial .frame-title{
	left:0px;
	top:4px;
}

.frame-subtitle{
	position:absolute;
	text-align:right;
	right:15px;
	top:12px;
}

.commercial .frame-subtitle{
	right:0px;
	top:11px;
}

/**** Frame Top Bar ****/

.frame-topbar{
	position:absolute;
	top:10%;
	width:100%;
	height:10%;		
}

/**** Frame Content ****/

.frame-content{
	position:absolute;
	top:10%;
	width:100%;
	height:90%;
}

.frame.call-frame .frame-content,
.frame.contacts-frame .frame-content,
.frame.contact-frame .frame-content,
.frame.contact-edit-frame .frame-content,
.frame.voicemail-frame .frame-content,
.frame.sms-conversations-frame .frame-content,
.frame.settings-frame .frame-content
{
	height:80%;
}

.frame.sms-conversation-frame .frame-content
{
	height:76%;
}

.frame.sms-conversation-new-frame .frame-content{
	top:20%;
	height:66%;
}

.frame-content .audiojs{
	position:absolute;
	top:47%;
	left:5%;
}

.frame-content .mark-unread{
	position:absolute;
	top:60%;
	right:5%;
}

.frame-content .transcript{
	position:absolute;
	top:65%;
	left:5%;
}

.frame-content .numbers{
	position:absolute;
	top:46%;
	left:5%;
}

/**** Frame Footer ****/

.frame-footer{
	position:absolute;
	bottom:0px;
	width:100%;
	height:10%;	
}

.frame-footer.new-message{
	height:14%;		
}

.frame-footer .btn-action{
	position:absolute;
	top:14%;
}

.frame-footer .edit-button,
.frame-footer .add-button,
.frame-footer .new-button,
.frame-footer .save-button,
.frame-footer .edit-conversation-button,
.frame-footer .cancel-delete-button
{
	left:3%;
}

.commercial .frame-footer .edit-button,
.commercial .frame-footer .add-button,
.commercial .frame-footer .new-button,
.commercial .frame-footer .save-button,
.commercial .frame-footer .edit-conversation-button,
.commercial .frame-footer .cancel-delete-button
{
	left:0%;
}

.frame-footer .cancel-button
{
	left:23%;
}

.commercial .frame-footer .cancel-button {
	left: 21%;
}

.frame-footer .delete-button
{
	left:41%;
}

.commercial .frame-footer .delete-button
{
	left:37%;
}

.frame-footer .delete-selected-button
{
	right:28%;
}

.frame-footer .call-button
{
	right:22%;
}

.commercial .frame-footer .call-button
{
	right:20%;
}

.frame-footer .import-button
{
	right:23%;
}

.commercial .frame-footer .import-button
{
	right:25%;
}

.frame-footer .text-button,
.frame-footer .send-button,
.frame-footer .export-button,
.frame-footer .delete-all-button
{
	right:3%;
}

.commercial .frame-footer .text-button,
.commercial .frame-footer .send-button,
.commercial .frame-footer .export-button,
.commercial .frame-footer .delete-all-button
{
	right:0%;
}

.frame-footer .message-content
{
	position: absolute;
	top: 10%;
	left: 19%;
	width: 60%;
	height: 80%;	
}

/** App Footer *****************************************/

.app-footer{
	position:relative;
	width:100%;
	height:24px;
	margin:0;	
}

.my-location{
	position:absolute;
	left:5px;
	top:5px;
}

.collapse-link{
	position:absolute;
	right:5px;
	top:5px;
}

/** App Modal *****************************************/

.app-modal{
	position:absolute;
	width:100%;
	height:100%;
	z-index:100;
	top:0;
	left:0;
}

.app-modal .modal-container{
	width:90%;
	position:absolute;
	top:30%;
	left:5%;
}

.modal-container .modal-header{
	position:relative;
	width:100%;
}

.modal-container .modal-title{
	position:absolute;
	width:50%;
	top:13%;
	left:4%;
}

.modal-container .modal-close{
	position:absolute;
	top:17%;
	right:3%;
}

.modal-container .modal-content{
	min-height:100px;
}

/** List Items *****************************************/

.list-item{
	float:left;
	position:relative;
	width:100%;
	height:40px;
}

.list-item .image,
.list-item .name,
.list-item .number,
.list-item .date,
.list-item .time,
.list-item .copy
{
	position:absolute;
}

.list-item .image{
	left:2%;
	top:12%;	
	max-width:30px;
	max-height:30px;	
}

.list-item .name{
	left: 13%;
	top: 35%;
	width: 37%;	
}

.list-item .number,
.list-item .date,
.list-item .time
{
	top:42%;		
}

.list-item .number
{
	right: 28%;
	width: 20%;		
}

.list-item .date{		
	text-align:right;
	right:17%;	
}

.list-item .time{	
	text-align:right;
	right:2%;	
}

.list-item .copy{
	width: 85%;
	left: 13%;
	bottom: 15%;
}


.list-item.has-copy
{
	height:47px;	
}

.list-item.has-copy .image{
	top:22%;	
}

.list-item.has-copy .name{
	top:19%;	
}

.list-item.has-copy .number,
.list-item.has-copy .date,
.list-item.has-copy .time
{
	top:24%;	
}

/** Individual Frames *****************************************/

/**** Login ****/

.login-username,
.login-password,
.login-remember
{
	position:absolute;
	left:10%;		
}
 
.login-username{
	top:10%;
}

.login-password{
	top:45%;
}

.login-remember{
	top:82%;
}

.login-button{
	position:absolute;	
	top:78%;
	left:65%;
}

/**** Calls ****/


/**** Call ****/


/**** Contacts ****/

.list-item.contact .name{
	width:85%;
}

/**** Contact ****/

.contact-frame .frame-footer .delete-button
{
	left:23%;
}

.commercial .contact-frame .frame-footer .delete-button
{
	left:20%;
}

/**** Contact Edit ****/

/**** Voicemails ****/


/**** Voicemail ****/

/**** SMS Conversations ****/

/**** SMS Conversation ****/

.new-message-bar{
	position:absolute;
	bottom:20px;
}


/**** New SMS Conversation ****/

.new-message-recipient .recipient-title{
	position:absolute;
	left:3%;
	top:28%;		
}

.new-message-recipient .recipient-label,
.new-message-recipient .recipient-filter
{
	position:absolute;
	left:25%;			
}

.new-message-recipient .recipient-label
{
	top:25%;			
}

.commercial .new-message-recipient .recipient-label
{
	top:29%;			
}

.new-message-recipient .recipient-filter
{
	top:24%;	
	width:45%;		
}

.new-message-recipient .add-recipient-button,
.new-message-recipient .cancel-recipient-button
{
	position:absolute;
	right:3%;
	top:15%;	
}

.commercial .new-message-recipient .add-recipient-button,
.commercial .new-message-recipient .cancel-recipient-button
{
	top:9%;	
}

.sms-conversation-new-frame .frame-footer .send-button
{
	right:1%;
}

.commercial .sms-conversation-new-frame .frame-footer .send-button
{
	right:0%;
}

.sms-conversation-new-frame .frame-footer .message-content
{
	left: 21%;
	width: 60%;
}

.commercial .sms-conversation-new-frame .frame-footer .message-content {
	left: 24%;
	width: 56%;
}

.sms-conversation-new-frame .frame-footer .cancel-new-message-button
{
	left: 1%;
}

.commercial .sms-conversation-new-frame .frame-footer .cancel-new-message-button
{
	left: 0%;
}
