/** General Info ****************************************
 * Original App expanded 372 X 478
 * Original App collapsed 372 X 117
 * Original App window was 380 X 520
 * New App expanded 372 X 484
 * New App window was 384 X 496 (+6px on each side for drop shadow)
 */


.app {
	position:relative;
	width:372px;
	height:auto;/*target 472px total*/
	overflow: visible;
}

/** App Top *****************************************/

.app-top{
	position:relative;
	width:100%;
	height:24px;
	margin:0;
}

.app-title{
	position:absolute;
	left:5px;
	top:4px;
	margin:0;	
}

.app-close,
.app-minimize{
	position:absolute;
	top:5px;
}

.app-close{right:5px;}
.app-minimize{right:30px;}


/** App Header *****************************************/

.app-header{
	position:relative;
	width:100%;
	height: 55px;	
	margin:0;
}

.logo-twc{
	position:absolute;
	top:10px;
	left:5px;
}

.sound-control{
	position:absolute;
	top:6px;
	right:5px;
}

.utility-links{
	position:absolute;
	top:32px;
	right:5px;
	margin:0;	
}

.active-number{
	height:14px;
}

.options.account-numbers{
	max-height:320px;
}

.collapsed .options.account-numbers{
	max-height:72px;
}

/** App Splash *****************************************/

.app-splash{
	position:relative;
	width:100%;
	height:49px;
}

.app-splash .app-name{
	position:absolute;
	top:7px;
	left:3%;	
}

.commercial .app-splash .app-name{
	left:2%;
	top:8px;	
}

/** App Menu *****************************************/

.app-menu{
	position:relative;
	width:100%;
	height:49px;
}

.commercial .app-menu{
	margin-bottom:3px;
	height:46px;
}

/** App Content *****************************************/

.app-content{
	position:relative;
	width:100%;
	height:325px;
	margin:0;
	padding:2% 0 0 0;
}

/****** Frame ******/

.frame{
	position:relative;
	width:97%;
	height:97%;
	margin:0 auto;
}

/**** Frame Header ****/

.frame-header{
	position:absolute;
	top:0px;
	width:100%;
	height:10%;	
}

.frame-title{
	position:absolute;
	left:15px;
	top:5px;
	margin:0;
}

.commercial .frame-title{
	left:0px;
	top:4px;
}

.frame-subtitle{
	position:absolute;
	text-align:right;
	right:15px;
	top:11px;
}

.commercial .frame-subtitle{
	right:0px;
	top:11px;
}

/**** Frame Top Bar ****/

.frame-topbar{
	position:absolute;
	top:10%;
	width:100%;
	height:10%;	
	padding:0 2%;		
}

.frame-topbar .btn{
	margin-top:3px;
}

.frame-topbar .left{
	float:left;
	margin-right:3%;
}

.frame-topbar .right{
	float:right;
	margin-left:3%;
}

/**** Frame Content ****/

.frame-content{
	position:absolute;
	top:10%;
	width:100%;
	height:90%;
}

.frame.call-frame .frame-content,
.frame.contacts-frame .frame-content,
.frame.contact-frame .frame-content,
.frame.contact-change-frame .frame-content,
.frame.voicemail-frame .frame-content,
.frame.sms-conversations-frame .frame-content,
.frame.settings-frame .frame-content
{
	height:80%;
}

.frame.sms-conversation-frame .frame-content
{
	height:76%;
}

.frame.sms-conversation-new-frame .frame-content,
.frame.sms-conversation-frame .frame-content
{
	top:20%;
	height:66%;
}


.frame-content .card{
	position:absolute;
	width:90%;
	height:100px;
	top:13px;
	left:5%;
}

.frame-content .audiojs{
	position:absolute;
	top:47%;
	left:5%;
}

.frame-content .mark-unread{
	position:absolute;
	top:60%;
	right:5%;
}

.frame-content .transcript{
	position:absolute;
	top:65%;
	left:5%;
}

.frame-content .numbers{
	position:absolute;
	width:93%;
	top:49%;
	left:5%;
}

/** List Items **/

.list-item{
	float:left;
	position:relative;
	width:100%;
}

/**** Frame Footer ****/

.frame-footer{
	position:absolute;
	bottom:0px;
	width:100%;
	height:10%;	
	padding:0 2%;
}

.commercial .frame-footer{
	padding:0;
}

.frame-footer.new-message{
	height:14%;		
}

.frame-footer .btn{
	margin-top:1%;
}

.frame-footer.new-message .btn{
	margin-top:10px;
}

.commercial .frame-footer.new-message .btn{
	margin-top:12px;
}

.frame-footer.new-message .send-button{
	margin-left:0;
}

.frame-footer .left{
	float:left;
	margin-right:3%;
}

.frame-footer .right{
	float:right;
	margin-left:3%;
}

.frame-footer .message-content
{
	margin-top:5px;
	margin-right:0;
	width: 79%;
	height: 80%;	
}

.commercial .frame-footer .message-content
{
	margin-top:7px;
	width: 81%;	
}

/** App Footer *****************************************/

.app-footer{
	position:relative;
	width:100%;
	height:24px;
	margin:0;	
}

.my-location{
	position:absolute;
	left:5px;
	bottom:4px;
}

.my-location .options.my-locations{
	max-height:165px;
}

.collapsed .my-location .options.my-locations{
	max-height:120px;
}

.collapse-link{
	position:absolute;
	right:5px;
	top:5px;
}

/** App Modal *****************************************/

.app-modal{
	position:absolute;
	width:100%;
	height:100%;
	z-index:100;
	top:0;
	left:0;
}

.app-modal .modal-container{
	width:90%;
	position:absolute;
	top:30%;
	left:5%;
}

.modal-container .modal-header{
	position:relative;
	height:30px;	
}

.modal-container .modal-title{
	position:absolute;
	width:73%;
	top:17%;
	left:4%;
}

.modal-container .modal-close{
	position:absolute;
	top:21%;
	right:3%;
}

.modal-container .modal-footer{
	overflow:hidden;
}

.modal-container .modal-content .modal-input{
	margin-top:3%;
}

.modal-container .modal-footer .btn{
	float:right;
	margin-left:3%;
}

/** Individual Frames *****************************************/

/**** Login ****/

.login-username,
.login-password,
.login-remember
{
	position:absolute;
	left:10%;		
}
 
.login-username{
	top:10%;
}

.login-password{
	top:45%;
}

.login-remember{
	top:82%;
}

.login-button{
	position:absolute;	
	top:78%;
	left:65%;
}

/**** Calls ****/


/**** Call ****/


/**** Contacts ****/

.list-item.contact .name{
	width:85%;
}

/**** Contact ****/

/**** Contact Change ****/

.contact-change-frame .select-menu.ringtone .options{
	max-height:120px;
}

/**** Contact Add ****/

/**** Voicemails ****/

/**** Voicemail ****/

/**** SMS Conversations ****/

/**** SMS Conversation ****/

/**** New SMS Conversation ****/

.new-message-recipient .recipient-title,
.new-message-recipient .recipient-label
{
	margin-top:6px;			
}

.commercial .new-message-recipient .recipient-title,
.commercial .new-message-recipient .recipient-label
{
	margin-top:7px;			
}

.commercial .new-message-recipient .recipient-label,
.commercial .new-message-recipient .recipient-filter
{
	margin-right:0px;			
}

.new-message-recipient .recipient-filter
{
	margin-top:6px;	
	width:68%;		
}

.new-message-recipient .add-recipient-button,
.new-message-recipient .remove-recipient-button
{
	margin-top:4px;	
}
