/** Development *****************************************/

.app.development{
	margin-top:10%;
}

/** Logged In Transformation *****************************************/

.sound-control,
.active-number,
.settings-link,
.app-menu,
.my-location,
.collapse-link,
.app-title,
.logged-in .app-splash
{
	display:none;
}

.logged-in .sound-control,
.logged-in .active-number,
.logged-in .settings-link,
.logged-in .app-menu,
.logged-in .my-location,
.logged-in .collapse-link,
.logged-in .app-title
{
	display:block;
}

/** Collpased Transformation *****************************************/

.collapsed .collapse-link,
.collapsed .app-content
{
	display:none;
}

/** Muted Transformation *****************************************/
.sound-control
{
	background-position:left top;
}

.muted .sound-control{
	background-position:left bottom;
}

/** Delete Messages Transformation *****************************************/

.sms-conversation-frame.delete-mode .cancel-delete-button,
.sms-conversation-frame.delete-mode .delete-selected-button,
.sms-conversation-frame.delete-mode .delete-all-button,
.sms-conversation-frame.delete-mode .delete-message
{
	display:block;
}

.sms-conversation-frame.delete-mode .edit-conversation-button,
.sms-conversation-frame.delete-mode .message-content,
.sms-conversation-frame.delete-mode .send-button,
.sms-conversation-frame .cancel-delete-button,
.sms-conversation-frame .delete-selected-button,
.sms-conversation-frame .delete-all-button,
.sms-conversation-frame .delete-message
{
	display:none;
}

/** Add Recipient Transformation *****************************************/

.sms-conversation-new-frame.add-recipient .recipient-filter,
.sms-conversation-new-frame.add-recipient .cancel-recipient-button
{
	display:block;
}

.sms-conversation-new-frame .recipient-filter,
.sms-conversation-new-frame .cancel-recipient-button,
.sms-conversation-new-frame.add-recipient .recipient-label,
.sms-conversation-new-frame.add-recipient .add-recipient-button
{
	display:none;
}

/** Has Recipient Transformation *****************************************/

.sms-conversation-new-frame.has-recipient .change-recipient-button
{
	display:block;
}

.sms-conversation-new-frame .change-recipient-button,
.sms-conversation-new-frame.has-recipient .add-recipient-button
{
	display:none;
}

/** Modal Transformation *****************************************/

.app-modal{
	display:none;
}

.modal .app-modal{
	display:block;
}

/** Voicemail Icons *****************************************/

.list-item .icon-unread,
.list-item .icon-urgent,
.list-item .icon-confidential
{
	display:none;
	float:left;
	margin-top:5%;	
}

.list-item.unread .icon-unread,
.list-item.urgent .icon-urgent,
.list-item.confidential .icon-confidential
{
	display:block;
}

.list-item .icon-unread{
	width:16px;
	height:16px;	
	background:url('../img/icon-dot-green.png') 2px 3px no-repeat;
}

.commercial .list-item .icon-unread{	
	background-image:url('../img/icon-dot-yellow.png');
}

.list-item .icon-urgent{
	width:16px;
	height:16px;	
	background:url('../img/icon-exclamation.png') 0 0 no-repeat;
}

.list-item .icon-confidential{
	width:16px;
	height:16px;
	background:url('../img/icon-lock.png') 0 0 no-repeat;
}

.list-item.unread .image,
.list-item.urgent .image,
.list-item.confidential .image
{left:5%;}

.list-item.unread .name,
.list-item.urgent .name,
.list-item.confidential .name
{left:16%;width:33%;}

.list-item.unread .copy,
.list-item.urgent .copy,
.list-item.confidential .copy
{left:16%;width:82%;}

.list-item.unread.urgent .image,
.list-item.unread.confidential .image,
.list-item.urgent.confidential .image
{left:10%;}

.list-item.unread.urgent .name,
.list-item.unread.confidential .name,
.list-item.urgent.confidential .name
{left:21%;width:30%;}

.list-item.unread.urgent .copy,
.list-item.unread.confidential .copy,
.list-item.urgent.confidential .copy
{left:21%;width:77%;}

.list-item.unread.urgent.confidential .image{left:15%;}
.list-item.unread.urgent.confidential .name{left:26%;width:26%;}
.list-item.unread.urgent.confidential .copy{left:26%;width:72%;}
