/** Color Reference ****************************************
 
 Hex	|	Color	|	Use
 -------+-----------+-------------------------------
 3376b2	|	blue	|	links
 387ab4 |	blue	|	button gradient start
 01437d	|	blue	|	button gradient end
 c3d6e7	|	blue	|	table row background dark
 f8f8fa	|	gray	|	table row background light
 afc7d9	|	blue	|	table row background hover
 -------+-----------+-------------------------------
 */

/** Fonts *****************************************/

@font-face{font-family: 'TWC-Round-Bold'; src: url("../fonts/TWC Round-Bold.otf");}
@font-face{font-family: 'TWC-Round-Bold-Italic'; src: url("../fonts/TWC Round-Bold Italic.otf");}
@font-face{font-family: 'TWC-Round-Book'; src: url("../fonts/TWC Round-Book.otf");}
@font-face{font-family: 'TWC-Round-Book-Italic'; src: url("../fonts/TWC Round-Book Italic.otf");}
@font-face{font-family: 'TWC-Round-Light'; src: url("../fonts/TWC Round-Light.otf");}
@font-face{font-family: 'TWC-Round-Light-Italic'; src: url("../fonts/TWC Round-Light Italic.otf");}
@font-face{font-family: 'TWC-Round-Medium'; src: url("../fonts/TWC Round-Medium.otf");}
@font-face{font-family: 'TWC-Round-Medium-Italic'; src: url("../fonts/TWC Round-Medium Italic.otf");}
@font-face{font-family: 'TWC-Round-Semibold'; src: url("../fonts/TWC Round-Semibold.otf");}
@font-face{font-family: 'TWC-Round-Semibold-Italic'; src: url("../fonts/TWC Round-Semibold Italic.otf");}

/** App Sections *****************************************/

.app {
	margin:6px;	
	-webkit-box-sizing: border-box;		
	padding:0;	
	background-color: #ffffff;
	-webkit-box-shadow: 0 2px 6px #666666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #333333;		
}

.app.commercial{
	font-family: Arial, sans-serif;	
	color:#000000;
}

.app-top{
	-webkit-box-sizing: border-box;		
	padding:0;	
	background: #000000;
	border-bottom: 1px solid #4d4f53;
}

.app-title{
	padding:0;	
	font-family: 'TWC-Round-Light';
	font-size:16px;
	color: #ffffff;
}

.commercial .app-title{
	font-family:inherit;
}

.app-header{
	-webkit-box-sizing: border-box;	
	padding:0;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343536), color-stop(100%, #1a1b1c));
	font-size: 12px;
	color:#ffffff;
}

.commercial .app-header{
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfd6dc), color-stop(100%, #ffffff));
	color:#000000;
	border-bottom:solid 1px #dbdbdb;	
}

.app-menu{
	-webkit-box-sizing: border-box;		
	overflow:hidden;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ececee), color-stop(100%, #dfe0e2));	
	border-bottom: 2px solid #fff;			
}

.commercial .app-menu{
	border-bottom:solid 1px #e1e2e4;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cfd0d2));		
	-webkit-box-shadow: 0px 2px 3px 0px #aaaaaa;
}

.app-content{
	padding:0;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7ebee), color-stop(100%, #fefefe));
}

.commercial .app-content{
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9eb), color-stop(100%, #ffffff));
	/*background:#eeedee;*/
}

.app-footer{
	padding:0;
	font-size: 12px;
	font-weight: bold;	
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d5d5d6), color-stop(100%, #ffffff));		
}

.commercial .app-footer{
	/*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8faf9), color-stop(100%, #ffffff));*/
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#f7f8fa), color-stop(3%,rgba(231,231,232,1)), color-stop(16%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));	
	color:#1f1f1f;
}

/** Modal *****************************************/

.app-modal{
	background:url('../img/background-gray-transparent.png') 0 0 repeat;
}

.modal-container{
	background:#ffffff;
	-webkit-box-shadow: 0 2px 6px #666666;
}

.modal-header{
	background:#cccccc;
}

.modal-header {
	border-bottom: 1px solid #eee;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eaf1f6), color-stop(100%, #ffffff));
}

.modal-title{
	font-family: "TWC-Round-Light";
	font-size:20px;
}

.commercial .modal-title{
	font-family: inherit;
	font-size:20px;
}

.modal-close{
	cursor:pointer;
	color: #3e90d2;
	font-size:16px;
}

.modal-container .modal-content{
	padding:5% 8%;	
}

.modal-container .modal-content .modal-input{
	background: #eaf1f6;
	padding:4%;	
}

.modal-container .modal-footer{
	padding:4% 8%;
}

/** Frames *****************************************/

.frame{
	-webkit-box-sizing: border-box;		
	padding:0;
	overflow:hidden;
	-webkit-box-shadow: 0 2px 6px #acacac;
	background: #ffffff;
	border-radius: 4px;
}

.commercial .frame{
	-webkit-box-shadow:none;
	background:none;
	border-radius:0px;	
}

.frame-header{
	-webkit-box-sizing: border-box;		
    border-top-left-radius: 4px;	
	border-top-right-radius: 4px;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #4c565f), color-stop(100%, #3a7fc0));
}

.commercial .frame-header{
    border-radius: 0px;	
	background: none;
}

.frame-title{
	padding:0;
	font-size: 24px;
	-webkit-font-smoothing: antialiased;	
	font-family: 'TWC-Round-Medium';
	color:#ffffff;
}

.commercial .frame-title{
	font-family: inherit;
	color:inherit;	
}

.frame-subtitle{
	font-size:14px;
	color:#ffffff;
}

.commercial .frame-subtitle{
	color:inherit;
}

.frame-topbar{
	-webkit-box-sizing: border-box;		
	border-bottom: 1px #dddddd solid;
	background:#ffffff;	
}

.frame-content{
	-webkit-box-sizing: border-box;		
	overflow-x:hidden;
	overflow-y:auto;
}

.commercial .frame-content{
	border: 1px solid #D9DADD;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white),color-stop(100%, #f5f5f5));
	-webkit-box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.09) inset;
}

.frame-footer{
	-webkit-box-sizing: border-box;		
    border-bottom-left-radius: 4px;	
	border-bottom-right-radius: 4px;
	border-top: 1px #dddddd solid;
	background:#ffffff;
}

.commercial .frame-footer{
    border-radius:0px;	
	border-top: none;
	background:none;
}

/** Scrollbars *****************************************/

::-webkit-scrollbar {
    width: 12px;
	padding:0;
	margin:0;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	padding:0;
	margin:0;	
    /*border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
	background-color:#cccccc;
	padding:0;
	margin:0;	
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    /*border-radius: 10px;*/	
}

::-webkit-scrollbar-button       {}
::-webkit-scrollbar-track-piece  {}
::-webkit-scrollbar-corner       {}
::-webkit-resizer                {}

/** Navigation Menus *****************************************/

.utility-links{
	list-style-type:none;	
	padding:0;	
}

.utility-links > li{
	float:left;	
	padding-left:5px;
	margin:0;
	padding:0 5px;	
	border-right:solid 1px #ffffff;	
	cursor:pointer;	
}

.commercial .utility-links > li{
	border-color:#000000;
}

.utility-links > li:hover{
	text-decoration:underline;
	color:#ffffff;
}

.commercial .utility-links > li:hover{
	color:#000000;
}

.utility-links > li:last-child{
	border-right:none;
	padding-right:0;
}

.nav-main > .nav-link{
	float:left;
	margin: 10px 0 0 6px;	
	font-weight:bold;
	cursor:pointer;
	padding: 6px 12px 11px;
	-webkit-box-sizing: border-box;
	font-size: 15px;
	text-align:center;
}

.commercial .nav-main > .nav-link{
	margin: 3px 0;	
	font-weight:normal;	
	text-transform:uppercase;
	font-size:13px;
	padding: 13px 15px 11px;
	border-right:solid 1px #bbbbbb;
}

.commercial .nav-main > .nav-link.last{
	border-right:none;	
}

.nav-main > .nav-link:hover{
	color: #457aab;
	border-bottom: 2px solid #457aab;
	-webkit-box-shadow: #dfe0e2 0px 2px 6px 4px inset;
}

.commercial .nav-main > .nav-link:hover,
.commercial .nav-main > .nav-link.active:hover{
 	color: #ffffff;	
}

.commercial .nav-main > .nav-link:hover{
	border-bottom: none;
	-webkit-box-shadow: none;
	background-color: #343b46;
}

.nav-main > .nav-link.active{
	-webkit-box-shadow:0px -4px 4px 0px #999999;
	border-bottom:none;
	color:inherit;
	border-radius:2px 2px 0 0;	
	padding-right:10px;
}

.commercial .nav-main > .nav-link.active{
	-webkit-box-shadow:none;
	color:#336699;
	border-radius:0;	
	padding-right:15px;
}

.nav-main > .nav-link.active:after{
	content:url('../img/arrow-blue-down.png');
	padding-left:4px;
	vertical-align:1px;
}

.commercial .nav-main > .nav-link.active:after{
	content:'';
	padding-left:0;
	vertical-align:inherit;
}

/** Drop Down Menus *****************************************/

select.styled-select{
	margin:0;
	padding:0 13px 0 0;	
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	font:inherit;
	cursor:pointer;
	color:inherit;	
	outline: none;
}

select.active-number-select{
	background: url('../img/arrow-white-down.png') right center no-repeat transparent;
	color:#ffffff;
}

.commercial select.active-number-select{
	background-image: url('../img/arrow-black-down.png');
	color: inherit;	
}

select.my-location-select{
	background:url('../img/arrow-blue-down.png') right center no-repeat transparent;		
}

.commercial select.my-location-select{
	color:#336699;
	background-image:url('../img/arrow-black-down.png');	
}


.select-menu{
	display: inline-block;
}

.select-menu .selected{
	cursor: pointer;
}

.select-menu.ringtone .selected{
	padding:3px 28px 3px 3px;	
	background-image:url('../img/icon-updown-blue.png');
	background-position: 95% 4px;
	background-repeat: no-repeat;
	border: 1px solid #cccccc;			
}

.select-menu.ringtone.open .selected{
	background-image:url('../img/icon-updown-gray.png');		
}

.select-menu .options{
	display: none;
	width: inherit;
	position: absolute;
	list-style-type: none;
	margin:3px 0;
	padding:0;
	z-index: 10;
	background:#ffffff;
	overflow-y:auto;
	-webkit-box-sizing: border-box;		
	border:solid 1px #cccccc;
}

.select-menu.open .options{
	display: block;
}

.select-menu .options li{
	padding:6px 6px;
	cursor: pointer;
	color:#3376b2;
}

.select-menu.right .options li{
	text-align: right;
}

.select-menu .options li:nth-child(even){
	background:#ffffff;
}

.select-menu .options li:nth-child(odd){
	background:#F5F5F5;
}

.select-menu .options li:hover{
	background:#3376b2;
	color:#ffffff;
}


/** Inputs and Labels *****************************************/

input{
	font-size: inherit;
	font-family: inherit;
}

input[type=text],
input[type=password],
textarea
{
	background-color: white;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	color: #555555;
	-webkit-border-radius: 3px;
	vertical-align: middle;
	outline: none;	
}

label + input[type=text],
label + input[type=password]
{
	margin-left:5px;
	vertical-align: 1px;
}

.login-label{
	display: block;	
	font-weight: bold;
	color: #222222;	
	margin-bottom:5px;	
}

input[type=text].login-input{
	display: inline-block;		
	display: block;		
	width: 214px;
	padding: 4px 6px;
	margin:0 0 9px 0;
	font-size: 13px;
	line-height: 18px;	
}

.message-content
{
	font-size:12px;
	resize: none;	
}

input[type="checkbox"] {
	height: 15px;
	width: 15px;
	vertical-align:-2px;
}

.voicemail-pin-entry{
	width:40px;
	margin-bottom:9px;
}

/** Logos *****************************************/

.logo-twc{
	width:204px;
	height:35px;
	background-size:contain;
	background-image:url('../img/logo-twc-residential.png');
	background-position:0 0;
	background-repeat:no-repeat;
}

.commercial .logo-twc{
	background-image:url('../img/logo-twc-commercial.png');	
}

/** Buttons *****************************************/

.btn {
	display: inline-block;	
	text-align: center;
	-webkit-box-sizing: border-box;
	cursor:pointer;
}

.btn.disabled{
	cursor: default;
}

.btn-app{
	padding:0px 8px;
	border: 0px;	
	color:#ffffff;	
	font-size:12px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #387ab4), color-stop(100%, #044680));
}

.btn-app:hover{
	background: #387ab4;
}

.btn-image{
	display: block;	
	width: 100%;
	height:50%;
	color:#ffffff;
	background:url('../img/background-gray-transparent.png') 0 0 repeat;
	z-index: 5;	
}

.btn-image span{
	position: absolute;
	font-size: 12px;
	line-height: 1em;
	height:1em;	
	width: 100%;
	top:50%;	
	margin-top:-0.5em;
	left:0;
}

.btn-action
{
	border-radius: 4px;		
	padding: 4px 14px;	
	font-size: 13px;	
	font-family: inherit;
	font-weight: bold;
	color: #ffffff;
	border:none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e90d2),color-stop(21%, #3b89c8),color-stop(79%, #2f6c9d),color-stop(100%, #2b6492));
}

.btn-action:hover
{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #285c86),color-stop(25%, #2b6492),color-stop(79%, #367eb8),color-stop(100%, #3986c2));
}

.btn-action.disabled,
.btn-action.disabled:hover
{
	color: #ffffff;
	background:#bbbbbb;
}

.btn-login{
	border: 0px;	
	border-radius: 4px;	
	color: #ffffff;		
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e90d2),color-stop(21%, #3b89c8),color-stop(79%, #2f6c9d),color-stop(100%, #2b6492));
	min-width:102px;	
	padding: 12px 16px;	
	font-size: 14px;		
}

.btn-login:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #285c86),color-stop(25%, #2b6492),color-stop(79%, #367eb8),color-stop(100%, #3986c2));
}

.btn-login:after{
	content:url('../img/arrow-large-white-right.png');
	padding-left:7px;
	vertical-align:-2px;
}

/** Icons *****************************************/



.icon-close{
	font-size:15px;
}

.icon-unread{
	width:16px;
	height:16px;	
	background:url('../img/icon-dot-green.png') 0 2px no-repeat;
}

.icon-urgent {
	width: 10px;
	height: 16px;
	background: url('../img/icon-exclamation.png') center 1px no-repeat;
}

.icon-confidential{
	width:16px;
	height:16px;
	background:url('../img/icon-lock-old.png') 0 0 no-repeat;
}

.icon-phone{
	width:32px;
	height:32px;	
	background-image:url('../img/icon-phone.png');	
	background-position:0 0;
	background-repeat:no-repeat;	
	background-size:contain;
}

.icon-chat{
	width:32px;
	height:32px;	
	background-image:url('../img/icon-chat-bubble.png');	
	background-position:0 0;
	background-repeat:no-repeat;	
	background-size:contain;
}

.icon-plus{
	cursor: pointer;
	width:16px;
	height:16px;
	background-image:url('../img/icon-plus.png');	
	background-position:0 0;
	background-repeat:no-repeat;	
	background-size:contain;	
}

.icon-minus{
	cursor: pointer;
	width:16px;
	height:16px;
	background-image:url('../img/icon-minus.png');
	background-position:0 0;
	background-repeat:no-repeat;	
	background-size:contain;
}

.commercial .icon-plus{
	background-image:url('../img/icon-plus-flat.png');	
}

.commercial .icon-minus{
	background-image:url('../img/icon-minus-flat.png');	
}

.icon-volume{
	cursor:pointer;
	width:23px;
	height:23px;
	background-image:url('../img/icon-volume-white.png');
	background-repeat:no-repeat;		
}

.commercial .icon-volume{
	background-image:url('../img/icon-volume-black.png');	
}

/** Audio Players *****************************************/

.audiojs {
	width: 90%;
	height: 29px;
	background: #ffffff;
	font-family: inherit;
	background-image: none;
	-webkit-box-shadow: none;
}

.audiojs .play-pause {
	width: 10%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	overflow: hidden;
	border-right: none;
	text-align:center;
	background:#aaaaaa;
}

.audiojs p {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0px;
	text-align:center;
}

.audiojs .play {
	background-size: 24px 24px;
	background-image: url("../img/icon-play.png");
	background-position:center center;
	background-repeat: no-repeat;
}

.audiojs .pause {
	background: url("../plugins/audiojs/player-graphics.gif") 0px -91px no-repeat;
}

.audiojs .loading {
	background: url("../plugins/audiojs/player-graphics.gif") 0px -31px no-repeat;
}

.audiojs .error {
	background: url("../plugins/audiojs/player-graphics.gif") 0px -61px no-repeat;
}

.audiojs .scrubber {
	width: 90%;
	background: #cccccc;
	height:100%;
	margin: 0px;
	border: none;
}

.commercial .audiojs .scrubber {
	background: #c8ccd2;
}

.audiojs .progress {
	height: 100%;
	background: #3e90d2;
	background-image:none;
}

.commercial .audiojs .progress {
	background: #8b929b;
}
.audiojs .loaded {
	display:none;
	height: 100%;
	background: #cccccc;
	background-image:none;
}

.audiojs .time {
	position:absolute;
	z-index:5;
	right:2%;
	top:29%;
	float: none;
	height: auto;
	line-height: inherit;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-left:none;
	color: #ffffff;
	text-shadow:none;
	pointer-events: none;
}

.audiojs .time em {
	color: inherit;
}

.audiojs .error-message {
	position:absolute;	
	top:29%;
	right:40%;
}


/** Transcripts *****************************************/

.transcript{
	width:93%;
}

.transcript .title{
	font-weight:bold;
}

.transcript .copy{
	width:100%;
	margin:0;
	padding:0 0 15px 0;
}

.transcript .copy.disclaimer{
	color:#777777;
	font-style: italic;
}

/** Contact Number Containers *****************************************/

.contact-number{
	width:100%;
	margin:0 0 4px 0;	
	overflow: hidden;
	min-height: 27px;
}

.contact-number:nth-child(even){
	margin-right:0%;	
}


.contact-number .number-label,
.contact-number .number
{
	position: relative;	
	display: inline-block;
	top:-6px;		
}

.contact-change-frame .contact-number .number-label,
.contact-change-frame .contact-number .number
{
	top:5px;		
}

.contact-number .number-label{
	width: 19%;
}

.contact-number .number{
	margin-right: 6%;
	cursor: pointer;
}

.contact-number input.number{
	margin:0;
	width:104px;
}

.contact-number .icon-phone,
.contact-number .icon-chat
{
	display: inline-block;	
	margin-right: 3%;
	width:24px;
	height:24px;	
	cursor: pointer;		
}

.contact-number .icon-phone
{
	display: none;	
}

/** Expandable Containers *****************************************/

.expandable{
	border-bottom: 1px dashed #C9CBCC;
}

.commercial .expandable{
	border-bottom-style: solid;
}

.expandable .expand-title{
	cursor: pointer;
	color:#2c77b3;	
	margin: 5px 0px;
	padding: 0px 0px 0px 33px;
	font-size: 20px;	
	background:url('../img/icon-plus-minus.png') 5px 1px no-repeat;
}

.commercial .expandable .expand-title{
	color:#336699;	
	background:url('../img/icon-plus-minus-flat.png') 5px -1px no-repeat;
	padding-left: 33px;
}

.expandable.expanded .expand-title{
	background-position: 5px -32px;
}

.commercial .expandable.expanded .expand-title{
	background-position: 5px -34px;
}

.expandable .expand-content{
	display:none;
	padding:5px 0px 10px 18px;
}

.expandable.expanded .expand-content{
	display:block;
}

.expand-content .section{
	margin-bottom:8px;
}

.expand-content .section .title{
	font-weight:bold;
	margin-bottom:4px;
}

.expand-content .section .secondary{
	margin-left:21px;
}

/** Tables *****************************************/

table{
	font:inherit;
	color:inherit;
}

.default-mylocation-table input{
	max-width:100px;
}

.default-mylocation-table td{
	padding-right:10px;
}

.default-mylocation-table td:first-child{
	text-align:center;
	padding:0;
}


/** List Items *****************************************/

.list-item{
	-webkit-box-sizing: border-box;	
	border-bottom: 1px dotted #ddd;
	cursor:pointer;
	height:40px;	
}

.list-item:hover{
	background:#F1F6F9;	
}

.list-item.expanded{
	height:67px;
	background: #eeeeee;
}

.commercial .list-item{
	border-bottom-style:solid;
}

.commercial .list-item:hover{
	background: #8b929b;	
}

.commercial .list-item.expanded{
	background:#c8ccd2;		
}

.list-item .icons,
.list-item .image,
.list-item .name,
.list-item .number,
.list-item .type,
.list-item .date,
.list-item .time,
.list-item .copy
{
	position:absolute;
}

.list-item .image{
	left:2%;
	top:5px;	
	max-width:30px;
	max-height:30px;	
}

.list-item .name{
	left: 13%;
	top: 14px;
	width: 37%;		
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.list-item .number,
.list-item .type,
.list-item .date,
.list-item .time
{
	top:16px;		
	font-size:11px;
}

.list-item .number{
	right: 28%;
	width: 20%;		
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.list-item .type
{
	right: 2%;
	width: 20%;		
}

.list-item .date,
.list-item .time
{	
	text-align:right;	
}

.list-item .date{		
	right:17%;	
}

.list-item .time{	
	right:2%;	
}


.list-item .copy{
	width: 85%;
	left: 13%;
	bottom: 7px;	
	font-size: 10px;
	color: #666666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.commercial .list-item.conversation .copy{
	color: #444444;
}

.list-item.has-copy
{
	height:47px;	
}

.list-item.has-copy .image{
	top:10px;	
}

.list-item.has-copy .name{
	top:9px;	
}

.list-item.has-copy .number,
.list-item.has-copy .date,
.list-item.has-copy .time
{
	top:11px;	
}

.list-item .action-buttons{
	display:none;	
	position: absolute;
	left:2%;
	bottom:4px;
	width:96%;
}

.list-item.expanded .action-buttons{
	display:block;	
}

.list-item .action-buttons .btn.left{
	float:left;
	margin-right:3%;
}

.list-item .action-buttons .btn.right{
	float:right;
	margin-left:3%;
}

/* alternate */
.list-item .icons{
	top:25px;
	right:2px;	
}

.list-item .icons .icon
{
	/*display:none;*/
	visibility: hidden;
	float:right;
}

.list-item.unread .icon-unread,
.list-item.urgent .icon-urgent,
.list-item.confidential .icon-confidential
{
	/*display:block;*/
	visibility: visible;
}

.list-item.unread .copy,
.list-item.urgent .copy,
.list-item.confidential .copy
{
	/*width:81%;*/
	width: 72%;
}
/*
.list-item.unread.urgent .copy,
.list-item.unread.confidential .copy,
.list-item.urgent.confidential .copy
{width:77%;}

.list-item.unread.urgent.confidential .copy{width:72%;}
*/

/** Cards *****************************************/

.card .image,
.card .name,
.card .first-name,
.card .last-name,
.card .nick-name,
.card .number,
.card .datetime,
.card .ringtone
{
	position:absolute;
}

.card .image{
	width:auto;
	height:auto;	
	top:0px;
	left:0px;
}

.card .image img{
	max-width:100px;
	max-height:100px;	
}

.card .image .btn{
	position: absolute;
	left:0;
}

.card .image .btn.top{
	top:0;
}

.card .image .btn.bottom
{
	bottom:0;
}

.card .name{
	font-size:14px;
}

/** Info Cards **/

.info-card .name
{
	top:10px;
}

.info-card  .number,
.info-card  .ringtone
{
	top:37px;
}

.info-card  .datetime
{
	top:67px;
}

.info-card .name,
.info-card .number,
.info-card .datetime,
.info-card .ringtone
{
	left:118px;	
}

/** Edit Cards **/

.edit-card .first-name,
.edit-card .last-name,
.edit-card .nick-name,
.edit-card .ringtone
{
	left:118px;
	width:175px;	
}

.edit-card .first-name{
	top:0px;
}

.edit-card .last-name{
	top:25px;
}

.edit-card .nick-name{
	top:50px;
}

.edit-card .ringtone{
	top:77px;
}

/** SMS Recipient *****************************************/

.new-message-recipient .recipient-title{
	font-size:14px;
}

.new-message-recipient .recipient-label{
	font-weight:bold;
	color:#3376b2;			
}

.commercial .new-message-recipient .recipient-label{
	color:#336699;	
}

.new-message-recipient .recipient-label .name,
.new-message-recipient .recipient-label .number
{
	font-size:14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.new-message-recipient .recipient-label .type{	
	font-size:11px;	
}

/** SMS Messages *****************************************/

.message{
	position:relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.message:last-child{
	margin-bottom:30px;
}

.message .content{
	max-width:80%;
	min-width:60%;
	margin:5px 10px;
	padding:5px 10px;
	border-radius:5px;
	border: 1px solid #cdd2d8;
}

.message .content .name,
.message .content .datetime
{
	display:inline-block;
}

.message .content .name{
	max-width:65%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.message .content .datetime{
	padding-top:2px;
	font-size:11px;	
}

.message .content .copy{
	clear:both;
	color:#666666;
	padding-top:5px;
	font-size:12px;
}

.commercial .message .content .copy{
	color:#444444;
}

.message .delete-message{
	position:absolute;
	left:3px;
	top: 50%;
	margin-top: -8px;
}

.message.incoming .content{
	float:left;
	background:#f8f8fa;	
}

.commercial .message.incoming .content{
	background:#eeedee;	
}

.message.incoming .content .name{
	float:left;	
}

.message.incoming .content .datetime{
	float:right;
}

.message.outgoing .content{
	float:right;
	background:#c3d6e7;
}

.commercial .message.outgoing .content{
	background:#c8ccd2;
}

.message.outgoing .content .name{
	float:right;
	text-align:right;
}

.message.outgoing .content .datetime{
	float:left;
}

.delete-mode .message.incoming .content{
	margin-left:28px;
}

/** Links *****************************************/

.link{
	cursor:pointer;
}

.link:hover{
	text-decoration:underline;
	color:#3376b2;
}

.commercial .link:hover{
	color:#336699;
}

.back-link{
	background-image:url('../img/arrow-white-left.png');
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:10px;
}

.commercial .back-link{
	background-image:url('../img/arrow-black-left.png');
}

.back-link:hover{
	color:#ffffff;
}

.commercial .back-link:hover{
	color:#000000;
}

.collapse-link{
	background:url('../img/arrow-gray-up.png') right center no-repeat;
	padding-right:12px;
}

.commercial .collapse-link,
.commercial .collapse-link:hover
{
	background-image:url('../img/arrow-black-up.png');
}

.collapse-link:hover{
	background-image:url('../img/arrow-blue-up.png');
}

.forgot-link{
	display:block;
	font-weight: bold;
	color: #3e90d2;
}

.forgot-link:hover{
	text-decoration:none;
}	

/** Splash *****************************************/

.app-splash .app-name{
	font-size:36px;
	font-family: "TWC-Round-Light";	
}

.commercial .app-splash .app-name{
	font-size:30px;
	font-family: inherit;	
}

/** Misc *****************************************/

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}