/** General Info ****************************************
 * Original App window was 380 X 520
 * Original App expanded 372 X 472
 * Original App collapsed 372 X 117
 */

/** Color Reference ****************************************
 
 Hex	|	Color	|	Use
 -------+-----------+-------------------------------
 3376b2	|	blue	|	links
 387ab4 |	blue	|	button gradient start
 01437d	|	blue	|	button gradient end
 c3d6e7	|	blue	|	table row background dark
 f8f8fa	|	gray	|	table row background light
 afc7d9	|	blue	|	table row background hover
 -------+-----------+-------------------------------
 */

/** Fonts *****************************************/

@font-face{font-family: 'TWC-Round-Bold'; src: url("../fonts/TWC Round-Bold.otf");}
@font-face{font-family: 'TWC-Round-Bold-Italic'; src: url("../fonts/TWC Round-Bold Italic.otf");}
@font-face{font-family: 'TWC-Round-Book'; src: url("../fonts/TWC Round-Book.otf");}
@font-face{font-family: 'TWC-Round-Book-Italic'; src: url("../fonts/TWC Round-Book Italic.otf");}
@font-face{font-family: 'TWC-Round-Light'; src: url("../fonts/TWC Round-Light.otf");}
@font-face{font-family: 'TWC-Round-Light-Italic'; src: url("../fonts/TWC Round-Light Italic.otf");}
@font-face{font-family: 'TWC-Round-Medium'; src: url("../fonts/TWC Round-Medium.otf");}
@font-face{font-family: 'TWC-Round-Medium-Italic'; src: url("../fonts/TWC Round-Medium Italic.otf");}
@font-face{font-family: 'TWC-Round-Semibold'; src: url("../fonts/TWC Round-Semibold.otf");}
@font-face{font-family: 'TWC-Round-Semibold-Italic'; src: url("../fonts/TWC Round-Semibold Italic.otf");}

/** App Sections *****************************************/

.app {
	position:relative;
	width:372px;
	height:auto;/*target 472px total*/
	margin:0 auto;	
	-webkit-box-sizing: border-box;		
	padding:0;	
	background-color: #ffffff;
	-webkit-box-shadow: 0 2px 6px #acacac;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #333333;		
	overflow: hidden;
}

.app-top{
	-webkit-box-sizing: border-box;		
	padding:0;	
	background: #000000;
	border-bottom: 1px solid #4d4f53;
}

.app-title{
	padding:0;	
	font-family: 'TWC-Round-Light';
	font-size:16px;
	color: #ffffff;
}

.app-header{
	-webkit-box-sizing: border-box;	
	padding:0;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343536), color-stop(100%, #1a1b1c));
	font-size: 12px;
	color:#ffffff;
}

.commercial .app-header{
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfd6dc), color-stop(100%, #ffffff));
	color:#000000;
}

.app-menu{
	-webkit-box-sizing: border-box;		
	overflow:hidden;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ececee), color-stop(100%, #dfe0e2));	
	border-bottom: 2px solid #fff;			
}

.commercial .app-menu{
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cfd0d4));		
}

.app-content{
	padding:0;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7ebee), color-stop(100%, #fefefe));
}

.commercial .app-content{
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9eb), color-stop(100%, #ffffff));	
}

.app-footer{
	padding:0;
	font-size: 12px;
	font-weight: bold;	
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d5d5d6), color-stop(100%, #ffffff));		
}

.commercial .app-footer{
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#f7f8fa), color-stop(3%,rgba(231,231,232,1)), color-stop(16%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));	
}

/** Frames *****************************************/

.frame{
	-webkit-box-sizing: border-box;		
	padding:0;
	overflow:hidden;
	-webkit-box-shadow: 0 2px 6px #acacac;
	background-color: #ffffff;
	border-radius: 4px;
}

.frame-header{
	-webkit-box-sizing: border-box;		
    border-top-left-radius: 4px;	
	border-top-right-radius: 4px;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #4c565f), color-stop(100%, #3a7fc0));
}

.frame-title{
	padding:0;
	font-size: 24px;
	-webkit-font-smoothing: antialiased;	
	font-family: 'TWC-Round-Medium';
	color:#ffffff;
}

.frame-subtitle{
	font-size:14px;
	color:#ffffff;
}

.frame-topbar{
	-webkit-box-sizing: border-box;		
	border-bottom: 1px #dddddd solid;
	background:#ffffff;	
}

.frame-content{
	-webkit-box-sizing: border-box;		
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-box-sizing: border-box;	
}

.frame-footer{
	-webkit-box-sizing: border-box;		
    border-bottom-left-radius: 4px;	
	border-bottom-right-radius: 4px;
	border-top: 1px #dddddd solid;
	background:#ffffff;
}

/** Scrollbars *****************************************/

::-webkit-scrollbar {
    width: 12px;
	padding:0;
	margin:0;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	padding:0;
	margin:0;	
    /*border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
	background-color:#cccccc;
	padding:0;
	margin:0;	
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    /*border-radius: 10px;*/	
}

::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }

/** Navigation Menus *****************************************/

.utility-links{
	list-style-type:none;	
	padding:0;	
}

.utility-links > li{
	float:left;	
	padding-left:5px;
	margin:0;
	padding:0 5px;	
	border-right:solid 1px #ffffff;	
	cursor:pointer;	
}

.utility-links > li:hover{
	text-decoration:underline;
	color:#ffffff;
}

.utility-links > li:last-child{
	border-right:none;
	padding-right:0;
}

.nav-main > .nav-link{
	float:left;
	font-weight:bold;
	cursor:pointer;
	margin: 10px 0 0 6px;
	padding: 6px 12px 11px;
	-webkit-box-sizing: border-box;
	font-size: 15px;
	text-align:center;
}

.nav-main > .nav-link:hover{
  color: #457aab;
  border-bottom: 2px solid #457aab;
  -webkit-box-shadow: #dfe0e2 0px 2px 6px 4px inset;
}

.nav-main > .nav-link.active{
	-webkit-box-shadow:0px -4px 4px 0px #999999;
	border-bottom:none;
	color:inherit;
	border-radius:2px 2px 0 0;	
	padding-right:10px;
}

.nav-main > .nav-link.active:after{
	content:url('../img/arrow-blue-down.png');
	padding-left:4px;
	vertical-align:1px;
}

/** Drop Down Menus *****************************************/

.styled-select {
	overflow: hidden;
}

.styled-select select {
	margin:0;
	padding:0;	
	background: transparent;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	font:inherit;
	cursor:pointer;
	color:inherit;
}

select.active-number-select{
	padding-right:13px;
	background: url('../img/arrow-white-down.png') right center no-repeat;	
}

.my-location-select select{
	color:#3376b2;
	padding-right:13px;	
	background:url('../img/arrow-blue-down.png') right center no-repeat;
}

select.ringtone-select{
	padding-right:13px;	
	background:url('../img/arrow-gray-down.png') right center no-repeat;
}

/** Inputs and Labels *****************************************/

input[type=text],
input[type=password]
{
	background-color: white;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	color: #555555;
	-webkit-border-radius: 3px;
	vertical-align: middle;	
}

.login-label{
	display: block;	
	font-weight: bold;
	color: #222222;	
	margin-bottom:5px;	
}

.login-input{
	display: inline-block;		
	display: block;		
	width: 214px;
	padding: 4px 6px;
	margin-bottom:9px;
	font-size: 13px;
	line-height: 18px;	
}

/** Checkboxes *****************************************/

input[type="checkbox"] {
	height: 15px;
	width: 15px;
	vertical-align:-2px;
}



/** Logos *****************************************/

.logo-twc{
	width:204px;
	height:35px;
	background-size:contain;
	background-image:url('../img/twc-logo-white.png');
	background-position:0 0;
	background-repeat:no-repeat;
}

/** Buttons *****************************************/

.btn {
	display: inline-block;	
	vertical-align: middle;	
	text-align: center;
	-webkit-box-sizing: border-box;
	cursor:pointer;
}

.btn-app{
	padding:0px 8px;
	border: 0px;	
	color:#ffffff;	
	font-size:12px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #387ab4), color-stop(100%, #044680));
}

.btn-app:hover{
	background: #387ab4;
}

.btn-action,
.btn-number
{
	border-radius: 4px;	
	font-family:"TWC-Round-Book";		
	padding: 4px 14px;	
	font-size: 13px;	
	color: #3e90d2;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);	
	border-color: #adacb1;	
	border: 1px solid #bbbbbb;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));	
}

.btn-action:hover,
.btn-number:hover
{
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bab9b7), color-stop(100%, #acaaad));
}

.btn-action.active,
.btn-number.active
{
  background-color: #cccccc	
}

.btn-login{
	border: 0px;	
	border-radius: 4px;	
	font-family:"TWC-Round-Medium";		
	color: #ffffff;		
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #387ab4), color-stop(100%, #01437d));
	min-width:102px;	
	padding: 12px 16px;	
	font-size: 14px;		
}

.btn-login:hover{
	background: #01437d;
}

.btn-login:after{
	content:url('../img/arrow-large-white-right.png');
	padding-left:7px;
	vertical-align:-2px;
}

/** Audio Players *****************************************/

.audiojs {
	width: 90%;
	height: 29px;
	background: #ffffff;
	font-family: inherit;
	background-image: none;
	-webkit-box-shadow: none;
}

.audiojs .play-pause {
	width: 10%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	overflow: hidden;
	border-right: none;
	text-align:center;
	background:#aaaaaa;
}

.audiojs p {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0px;
	text-align:center;
}

.audiojs .play {
	background: url("../plugins/audiojs/player-graphics.gif") 0px -1px no-repeat;
}

.audiojs .pause {
	background: url("../plugins/audiojs/player-graphics.gif") 0px -91px no-repeat;
}

.audiojs .loading {
	background: url("../plugins/audiojs/player-graphics.gif") 0px -31px no-repeat;
}

.audiojs .error {
	background: url("../plugins/audiojs/player-graphics.gif") 0px -61px no-repeat;
}

.audiojs .scrubber {
	width: 90%;
	background: #cccccc;
	height:100%;
	margin: 0px;
	border: none;
}

.audiojs .progress {
	height: 100%;
	background: #3e90d2;
	background-image:none;
}

.audiojs .loaded {
	display:none;
	height: 100%;
	background: #cccccc;
	background-image:none;
}

.audiojs .time {
	position:absolute;
	z-index:5;
	right:2%;
	top:29%;
	float: none;
	height: auto;
	line-height: inherit;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-left:none;
	color: #ffffff;
	text-shadow:none;
	pointer-events: none;
}

.audiojs .time em {
	color: inherit;
}

.audiojs .error-message {
	position:absolute;	
	top:29%;
	right:40%;
}


/** Transcripts *****************************************/

.transcript{
	width:93%;
}

.transcript .title{
	font-weight:bold;
}

.transcript .copy{
	width:100%;
	margin:0;
	padding:0 0 15px 0;
}

/** Contact Number Containers *****************************************/

.numbers{
	width:93%;
}

.contact-number{
	position:relative;
	width:100%;
	height:30px;
	margin-bottom:5px;	
}

.contact-number .number-label{
	position:absolute;
	top:23%;
	left:0%;
	font-size:14px;
}

.contact-number .number{
	position:absolute;
	top:19%;
	left:21%;
}

.contact-number input.number{
	top:9%;
}

.contact-number .number-buttons{
	position:absolute;
	width:36%;
	right:2%;
	top:10%;
}

.number-buttons .btn{
	position:absolute;
	top:0;
}

.number-buttons .call-button{
	left:0;
}

.number-buttons .text-button{
	right:0;
}

/** Expandable Containers *****************************************/

.expandable{
	border-bottom: 1px dashed #C9CBCC;
}

.expandable .expand-title{
	cursor: pointer;
	color:#2c77b3;	
	margin: 5px 0px;
	padding: 0px 0px 0px 33px;
	font-size: 20px;	
	background:url('../img/icon-plus-minus.png') 5px 1px no-repeat;
}

.expandable.open .expand-title{
	background-position: 5px -32px;
}

.expandable .expand-content{
	display:none;
	padding:5px 0px 10px 18px;
}

.expandable.open .expand-content{
	display:block;
}

.expand-content .section{
	margin-bottom:8px;
}

.expand-content .section .title{
	font-weight:bold;
	margin-bottom:4px;
}

.expand-content .section .secondary{
	margin-left:21px;
}

/** tables *****************************************/

table{
	font:inherit;
	color:inherit;
}

.default-mylocation-table input{
	max-width:100px;
}

.default-mylocation-table td{
	padding-right:10px;
}

.default-mylocation-table td:first-child{
	text-align:center;
	padding:0;
}

/** Images *****************************************/

.image img{
	max-width:100px;
	max-height:100px;
}


/** List Items *****************************************/

.list-item{
	-webkit-box-sizing: border-box;	
	float:left;
	position:relative;
	width:100%;
	height:40px;
	border-bottom: 1px dotted #ddd;
	cursor:pointer;
}

.list-item.conversation{
	height:47px;	
}

.list-item:hover{
	background:#afc7d9;	
}

.list-item .image{
	position:absolute;	
	max-width:30px;
	max-height:30px;
	left:3%;
	top:12%;	
}

.list-item.conversation .image{
	top:18%;	
}

.list-item .name{
	position:absolute;	
	left:16%;
	top:27%;	
}

.list-item.conversation .name{
	top:17%;	
}

.list-item .date,
.list-item .time
{
	position:absolute;	
	top:34%;		
}

.list-item.conversation .date,
.list-item.conversation .time
{
	top:24%;	
}

.list-item .date{		
	text-align:right;
	right:25%;	
}

.list-item .time{	
	text-align:right;
	right:5%;	
}

.list-item.conversation .copy{
	position: absolute;
	width: 79%;
	left: 16%;
	bottom: 15%;
	font-size: 11px;
	color: #666666;
}

.list-item.unread{
	
}

.list-item.confidential{
	
}

.list-item.urgent{
	
}

/** SMS Recipient *****************************************/

.new-message-recipient{}

/** SMS Messages *****************************************/

.message{
	position:relative;
	max-width:80%;
	min-width:60%;
	margin:5px 10px;
	padding:5px 10px;
	border-radius:5px;
	border: 1px solid #cdd2d8;
}

.message:last-child{
	margin-bottom:30px;
}

.message .name,
.message .datetime
{
	display:inline-block;
}

.message .name{
	max-width:65%;
}

.message .datetime{
	padding-top:3px;
}

.message .copy{
	clear:both;
	color:#666666;
	padding-top:5px;
}

.message .delete-message{
	position:absolute;
	top: 50%;
	margin-top: -8px;
}

.message.incoming{
	float:left;
	background:#f8f8fa;	
}

.message.incoming .name{
	float:left;	
}

.message.incoming .datetime{
	float:right;
}

.message.incoming .delete-message{
	right:-30px;
}

.message.outgoing{
	float:right;
	background:#c3d6e7;
}

.message.outgoing .name{
	float:right;
	text-align:right;
}

.message.outgoing .datetime{
	float:left;
}

.message.outgoing .delete-message{
	left:-30px;
}

/** Info Cards *****************************************/

.info .image,
.info .name,
.info .number,
.info .datetime,
.info .ringtone
{
	position:absolute;
}

.info .image
{
	top:5%;
}

.info .name
{
	top:9%;
}

.info .number,
.info .ringtone
{
	top:20%;
}

.info .datetime
{
	top:32%;
}

.info .image{
	left:5%;
}

.info .name,
.info .number,
.info .datetime,
.info .ringtone
{
	left:38%;	
}

/** Edit Cards *****************************************/

.edit .image{
	position:absolute;
	top:5%;
	left:5%;
}

.edit .first-name,
.edit .last-name,
.edit .nick-name
{
	position:absolute;
	left:38%;
	width:45%;
}

.edit .first-name{
	top:5%;
}

.edit .last-name{
	top:15%;
}
.edit .nick-name{
	top:25%;
}

.edit .ringtone{
	position:absolute;
	left:38%;
	top:36%;
}

/** Links *****************************************/

.link{
	cursor:pointer;
}

.link:hover{
	text-decoration:underline;
	color:#3376b2;
}

.back-link{
	background:url('../img/arrow-white-left.png') left center no-repeat;
	padding-left:10px;
}

.back-link:hover{
	color:#ffffff;
}

.collapse-link{
	background:url('../img/arrow-gray-up.png') right center no-repeat;
	padding-right:12px;
}

.collapse-link:hover{
	background-image:url('../img/arrow-blue-up.png');
}

.sound-control{
	cursor:pointer;
}

.forgot-link{
	display:block;
	font-weight: bold;
	color: #3e90d2;
}

.forgot-link:hover{
	text-decoration:none;
}	

/** Misc *****************************************/

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.login-splash{
	font-size:32px;
	font-family: "TWC-Round-Light";	
}

.frame-content .name,
.frame-content .number
{
	font-size:16px;
}